alias download_av1='function _download_av1() {
    yt-dlp -f "bestvideo[height<=720][ext=mp4][vcodec=av01]+bestaudio[ext=m4a]/bestvideo[height<=720][ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best" --merge-output-format mp4 --postprocessor-args "-c:v libaom-av1 -crf 30 -c:a aac -b:v 0 -cpu-used 4 -row-mt 1 -tiles 2x2"  "$1"
}; _download_av1'
